body {
	text-align: center;
}
.header {
	margin-top: 28px;
	width: 1333px;
	height: 220px;
	background-color: #fff794;
	display: inline-block;
}
.menu {
	margin-top: 20px;
	display: inline-block;
	width: 370px;
	height: 500px;
	background-color: #94ff97;
	margin-right: 20px;
}
.content {
	margin-top: 20px;
	display: inline-block;
 margin-left: -4px;
	width: 943px;
	height: 500px;
	background-color: #ab94ff;
}